<div class="login-bg">
    <div class="image-overlay">
        <div class="container text-white px-5 pt-5">
            <div class="logo-section">
                <a href="/" class="d-flex justify-content-center"><%= image_tag("Logo2-01.png", :alt => "Logo", :class => "img-fluid") %></a>
                <p class="text-center mt-2">Log in to start doing what you know how to do best!</p>
            </div>
            <div class="form-container rounded px-2 py-4 m-auto">
                <div class="form mx-4">
                    <p class="lead text-center py-3">Log in to your account</p>
                        <%= render partial: "login_form" %>
                    <p class="mt-2">New to Authors Haven? <a href="/signup">Sign up</a></p>
                    <p class="d-flex justify-content-center py-3">Log in with 
                        <a href="#">
                            <%= image_tag("google.png", :alt => "Google icon", :class => "social-auth-icon ml-2") %>
                        </a>
                        <a href="#">
                            <%= image_tag("facebook.png", :alt => "Facebook icon", :class => "social-auth-icon ml-2") %>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
