<div id="home-page">
  <%= render partial: 'hero_section' %>
  <div class="container">
    <div class="row articles">
      <div class="col-md-8">
        <h5 class="d-flex mb-4 justify-content-center">Trending on Authors Haven</h5>
        <% # [TODO]: Articles to be displayed here %>
      </div>
      <div class="col-md-4">
        <h5 class="mb-2 pb-2 heading border-bottom">Highly Rated on Authors Haven</h5>
        <% # [TODO]: Articles to be displayed here %>
      </div>
    </div>
  </div>
</div>
