<div className="container">
    <h1 class="d-flex justify-content-center mt-5">
        Welcome to Authors Haven App
    </h1>
    <h5 class="d-flex justify-content-center">
        This application is developed to enable users to effectively manage their daily tasks and be more productive.
    </h5>
</div>