@import "base";

.container {
  .row {
    .jumbo-text {
      .jumbo-btn {
        @include orange-button;
      }
    }
  }

  hr {
    border-top: 1px solid $black;
  }

  .articles {
    a:hover {
      text-decoration: none;
    }
  }

  .heading {
    border-bottom-color: $ah-orange !important;
  }
}

#home-page {
  height: 100%;
}
